

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: whitesmoke;
}
button {
    cursor: pointer;
}

.div1 {
    width: 100%;
    background-color: #441A7E;
    padding: 10px 0;
    
    align-items: center;
}
#logo {
    width: 125px;
    height: 125px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 50px;
}
.nav2 .category button,
.nav3 .category button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
}
.div1 button:hover {
    color: rgb(168, 107, 225);
}
#search-input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#search-btn img {
    max-width: 20px;
}
.div1 button {
    border: none;
    background-color: transparent;
    color: white;
}
#search-input {
    border-radius: 5px;
    border: none;
}
#search-icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
#search-icon:hover {

}

.nav3 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#sign-in-btn {
    margin-right: 50px;
    padding-top: 3px;
}






.div2 {
    height: 650px;
    margin-top: 5%;
    color: rgb(68, 26, 126);
}
.find {
    margin-top: 5%;
    margin-right: 20%;

}
#adopt-btn1 {
    margin-top: 10%;
    border: none;
    background-color: RGB(68, 26, 126);
    color: white;
    width: 35%;
    height: 15%;
    font-size: 20px;
    border-radius: 7px;
    padding: 10px;
}
.social-btns {
    margin-top: 100px;
    border: none;
}
.social-icon {
    width: 25%;
}



#eclipse-img {
    width: 50%;
    position: absolute;
    right: 3%;
    top:20%;
    z-index: 0;
}
#pets-img {
    width: 50%;
    position: absolute;
    right: 1%;
    top: 30%;
    z-index: 1;
}