

.signup-container{
    margin-top: 2%;
    margin-left: 17%;
     color: #441A7E;
     width: 30%;
}
#h3{
    margin-bottom: 4%;
}
form .field input[type='text'],input[type='email'],input[type='password']{
   height:100%;
    width: 100%;
    padding: 2%;
    border: 1.5px solid #441A7E;
    border-radius: 10px;
    margin-bottom : 2%;
    font-size: 10px;
    box-shadow: none;
    outline: none;
   
}
form .field input::placeholder{
    color:#441A7E;
    font-size: 11px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}

form .field input:focus::placeholder{
    color:white;
    transition: all 0.3s ease;
  }

  form  .field-btn input[type="submit"]{
    background-color: #441A7E;
    border: 2px solid #441A7E;
    border-radius: 10px;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 100%;
    margin-top: 3%;
    padding: 1%;
    box-shadow: none;
    outline: none;
  }
  form .field-checkbox input[type="checkbox"] label{
    font-size:2px;
  }
 .field-check label, .signup-container p {
    font-size:12px;
  }
  .signup-container p {
    margin-left:25%;
    margin-top:2%;    
}